<h1>Blogger Name : <%=@blogger.name%></h1>
    <label>Blogger Bio : </label> <br>
    <%= @blogger.bio%> <br> <br>
    <label>Blogger Age : </label>
    <%= @blogger.age%> <br><br>
    <label>Blogger Posts : </label> <br>
    <% @blogger.posts.each do |p|%>
        <%=link_to p.title, p%> <br>
        <label>Post Likes : </label>
        <%= p.likes%> <br>
    <% end %>
<h3> Total likes by <%=@blogger.name%> : <%= @blogger.total_likes%></h3>
